.app {
  background-color: #141414;
  user-select: none;
  i {
    color: white;
  }
  footer {
    padding: 20px 0 50px 0;
    text-align: center;
    color: white;
    #footerLink {
      text-decoration: none;
      color: #2f95f5;
      &:hover {
        text-decoration: none;
        color: #95ccff;
      }
    }
  }
}
