.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  height: 55px;
  padding-top: 15px;
  z-index: 1;
  background-image: linear-gradient(180deg, #141414, transparent);
  transition-timing-function: ease-in-out;
  transition: background-color 0.4s;
  z-index: 2;
  & > img {
    cursor: pointer;
    object-fit: contain;
  }
  #netflix-logo {
    position: absolute;
    left: 40px;
    width: 85px;
  }
  .right-side-icons {
    position: absolute;
    right: 5px;
    top: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    color: white;
    & > * {
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .bi-caret-down-fill {
    margin-right: 20px;
  }
  .kids {
    width: 85px;
  }
  #user-avatar {
    margin-right: 20px;
    width: 30px;
    border-radius: 5px;
  }
}