.row__poster {
  display: inline-block;
  cursor: pointer;
  object-fit: contain;
  position: relative;
  height: 140px;
  margin-right: 10px;
  border-radius: 7px;
  transition: transform 0.4s ease;
  z-index: 2;

  &:hover {
    transform: scale(1.3);
    filter: brightness(100%);
    z-index: 3;
  }
}
.row__largePoster {
  margin-top: 40px;
  margin-bottom: 30px;
  height: 250px;
}
