.menu-collapsed {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 13px;
    top: 15px;
    left: 150px;
    z-index: 2;
    display: none;

    .bi-caret-down-fill {
        display: inline-block;
        color: white;
        font-size: 12px;
        margin-left: 5px;
    }
}

.menu-dropdown {
    position: absolute;
    left: 40px;
    top: 70px;
    width: 250px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(185, 185, 185);
    border-width: 2px 1px 1px 1px;
    border-style: solid;
    border-color: white #3d3d3d #3d3d3d #3d3d3d;
    border-radius: 2px;
    z-index: 2;

    div {
        padding: 15px;

        &:hover {
            background-color: rgba(179, 179, 179, 0.082);
            transition: background-color 0.5s;
        }
    }

    .bi {
        margin-left: -25px;
        margin-top: 2px;
    }
}

.menu-expanded {
    position: absolute;
    left: 140px;
    list-style-type: none;
    color: rgb(230, 230, 230);
    font-weight: 500;
    font-size: 14px;

    .home-item {
        color: white;
        font-weight: bold;

        &:hover {
            cursor: auto;
        }
    }

    li {
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            color: rgb(184, 184, 184);
        }
    }
}