.banner {
    height: 450px;
    background-position: top;
    background-size: cover;
    color: white;
    position: relative;
}

.banner__contents {
    margin-left: 40px;
    padding-top: 5.1rem;
}

.banner__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    max-width: 500px;
}

.overview {
    font-size: 1rem;
    font-weight: 500;
    max-width: 400px;
    margin: 20px 0;
}

.banner__buttons {
    margin: 20px 0px;
}

.banner__button {
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: 10px;
}

#play {
    background-color: white;
    padding: 0px 20px 3px 15px;
    font-size: 15px;
    font-weight: 600;
}

.bi.bi-play-fill {
    font-size: 20px;
}

#play:hover {
    background-color: #dbdbdb;
    transform: scale(0.98);
    transition: transform 0.2s;
}

.bi.bi-info-circle {
    font-size: 17px;
}

#info {
    background-color: rgb(139, 139, 139, 0.7);
    padding: 4px 20px 4px 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

#info:hover {
    background-color: rgba(165, 165, 165, 0.7);
    transform: scale(0.98);
    transition: transform 0.2s;
}

.banner--fadeBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(180deg, transparent, #141414);
}