.navigation {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #141414;
    z-index: 1;
}

.navigation > img {
    object-fit: contain;
}

#netflix-logo {
    width: 85px;
}

#user-avatar {
    width: 30px;
    border-radius: 5px;
}