.banner {
    height: clamp(350px, 50vw, 670px);
    background-position: top;
    background-size: cover;
    color: #fff;
    position: relative;
    margin-bottom: -9vw;

    .banner__contents {
        margin-left: 40px;
        padding-top: clamp(70px, 10vw, 300px);

        .banner__title {
            cursor: auto;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            font-size: clamp(33px, 6vw, 80px);
            letter-spacing: 1px;
            font-weight: 500;
            max-width: 60vw;
            text-shadow: 4px 4px 6px #99999993;
        }

        .overview {
            font-size: clamp(13px, 1.7vw, 50px);
            font-weight: 500;
            max-width: 50vw;
            margin: 2vw 0;
            text-shadow: 3px 3px 3px #99999993;
        }

        .banner__button {
            border: none;
            outline: none;
            border-radius: 4px;
            margin-right: 10px;
            font-size: clamp(13px, 1.7vw, 50px);

            .bi-play-fill {
                font-size: clamp(17px, 2vw, 50px);
                color: #000;
            }

            .bi-info-circle {
                font-size: clamp(17px, 1.8vw, 50px);
            }
        }

        #play {
            background-color: #fff;
            padding: 0.2vw 2vw 0.5vw 1.5vw;
            font-weight: 600;

            &:hover {
                background-color: #ffffffbd;
                transform: scale(0.98);
                transition: transform 0.2s;
            }
        }

        #info {
            background-color: #adadadb3;
            padding: 0.5vw 2vw 0.5vw 2vw;
            font-weight: 600;
            color: #fff;

            &:hover {
                background-color: #6b6b6bb3;
                transform: scale(0.98);
                transition: transform 0.2s;
            }
        }
    }

    .banner--fadeBottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 8vw;
        background-image: linear-gradient(180deg, transparent, #141414);
    }
}